/* ========== VARIABLES ========== */
:root {
  --color-yellow-light: #f7e287;
  --color-yellow: #f7d11e;
  --color-red: #ed1a2d;
  --color-red-dark: #b81b35;
  --color-red-light: #ee3755;
  --color-blue: #0091ff;
  --color-blue-light1: #9fd6ff;
  --color-blue-light2: #e9f6fd;
  --color-white: #fff;
  --color-black: #333;
  --color-grey1: #272727;
  --color-grey2: #c1c1c1;
  --color-grey3: #6a6a6a;
  --color-grey-light: #eee;
  --font-heading: 'Abril Fatface', cursive;
  --font-default: 'Poppins', sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
  font-family: var(--font-default);
  min-height: 100vh;
  line-height: 1.6;
  color: var(--color-black);
  position: relative;
  font-size: 1.6rem;
  font-weight: 300;
  background: var(--color-blue-light2);
}

a {
  text-decoration: none;
  color: var(--color-blue);
}

a:active,
a:visited {
  color: var(--color-blue);
}

a:hover,
a:focus {
  color: var(--color-blue-light1);
}

ul {
  list-style: none;
}

/* ========== HEADINGS ========== */
h1 {
  font-family: var(--font-heading);
  width: 100%;
  padding: 1rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: var(--color-white);
  background: var(--color-blue);
}

h2 {
  font-family: var(--font-default);
  width: 100%;
  font-size: 2.2rem;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  line-height: 1.4;
}

h3 {
  font-family: var(--font-default);
  width: 100%;
  margin-bottom: .8rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
}

/* ========== BUTTONS ========== */
.btn {
  margin: 0 auto;
  padding: 1rem 4rem;
  color: var(--color-white);
  border-radius: 3rem;
  transition: background-color .3s;
  cursor: pointer;
  background: var(--color-blue);
  border: 3px solid var(--color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  outline: none;
}

.btn-comment {
  font-size: 1.5rem;
  background: var(--color-blue);
}

.btn-comment:hover,
.btn-comment:focus {
  background-color: var(--color-blue-light1);
}

.btn-submit {
  font-size: 1.8rem;
  background: var(--color-blue);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--color-blue-light1);
}

.btn-close {
  font-size: 1.5rem;
  background: var(--color-black);
}

.btn-close:hover,
.btn-close:focus {
  background-color: var(--color-grey3);
}

.btn ion-icon {
  margin-right: 1rem;
}


/* ========== MAIN CONTENTS ========== */
.container {
  width: calc(100% - 4rem);
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}


/* ========== ARTICLES ========== */
.article-item {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.article-item:not(:last-child) {
  border-bottom: 2px dotted var(--color-grey2);
}

.article-item img {
  width: 150px;
}

.summary {
  width: calc(100% - 150px - 1.5rem);
  margin: 0 0 1.5rem 1.5rem;
}

/* ========== FORM ========== */
#form-section {
  width: 100%;
  margin-top: 3rem;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.6);
  border-radius: .8rem;
}

#travel-form {
  display: flex;
  flex-wrap: wrap;
}

.form-group,
.form-check {
  width: 100%;
  margin-bottom: 3.5rem;
  font-size: 1.5rem;
  display: flex;
}

.form-group {
  flex-direction: column;
}

.form-group .label {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-weight: 500;
  display: flex;
  align-items: flex-start;
}

.form-group .label ion-icon {
  margin-right: .5rem;
  font-size: 2rem;
  color: var(--color-blue);
  transform: rotate(-45deg);
}

.form-group input[type="text"] {
  padding: .6rem;
  border: 1px solid var(--color-grey2);
  border-radius: .5rem;
}

.form-group input[type="file"] {
  font-size: 1.3rem;
}

.form-check {
  align-items: center;
}

.form-check input[type="checkbox"] {
  cursor: pointer;
  margin-right: 1rem;
}

.form-check label {
  line-height: 1.4;
}

.attention {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: var(--color-blue);
}

#uploaded-images {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#uploaded-images img {
  max-width: 100%;
}

#uploaded-images img:not(:last-child) {
  margin-bottom: 1rem;
}

#error-messages {
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  background: var(--color-red-light);
  color: var(--color-white);
  font-size: 1.2rem;
  border-radius: .8rem;
}

#error-messages li {
  display: flex;
  align-items: center;
}

#error-messages li:not(:last-child) {
  margin-bottom: .8rem;
}

#error-messages li ion-icon {
  font-size: 2rem;
  margin-right: 1rem;
}


/* ========== FOOTER ========== */
footer {
  width: 100%;
  padding: 2rem;
  color: var(--color-grey2);
  background: var(--color-black);
  text-align: center;
}

footer p {
  line-height: 1;
  font-size: 1rem;
}

footer .link {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--color-blue-light1);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .link:hover,
footer .link:focus {
  color: var(--color-blue);
}

footer .link ion-icon {
  margin-right: 1rem;
  font-size: 2rem;
}


/* ========== MODAL ========== */
.modal {
  width: 90%;
  max-width: 50rem;
  padding: 3rem;
  background: var(--color-white);
  box-shadow: 0 0 3rem rgba(0, 0, 0, .3);
  position: fixed;
  top: calc(100vh / 2);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}

.modal-header {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
}

.modal-header ion-icon {
  margin-right: .5rem;
  font-size: 2rem;
  color: var(--color-blue);
}

.modal-name {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  margin: 2rem 0;
  color: var(--color-blue);
}

.modal-photo {
  max-width: 100%;
  margin-bottom: 2rem;
}

.close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 200;
  font-size: 4rem;
  cursor: pointer;
}

.dark-bg {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .4);
}



@media screen and (min-width: 601px) {

}

@media screen and (min-width: 801px) {
  html {
    font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
  }
}
